<div class="container mt-5">
  <div *ngIf="loading" class="load">
    <div class="spinner-border"></div>
  </div>

  <ng-container *ngIf="!loading">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th scope="col">Avatar</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userData">
          <th scope="row">
            <img
              [src]="user.avatar | noimage"
              [alt]="user.first_name"
              class="mr-2 avatar"
            />
          </th>
          <td>
            {{ user.first_name }}
          </td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteUser(user)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        [maxSize]="pageSize"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
        (pageChange)="changePage($event)"
      >
      </ngb-pagination>
    </div>
  </ng-container>
</div>

<div class="container mt-5" *ngIf="!loading">
  <h1>New Users</h1>
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" (click)="createUser()">Create User</button>
  </div>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Job</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of newUser; let i = index">
        <td>
          {{ user.name }}
        </td>
        <td>{{ user.job }}</td>
        <td>
          <button
            class="btn btn-warning mr-3"
            (click)="editNewUser(user.id, i)"
          >
            Edit
          </button>
          <button class="btn btn-danger" (click)="deleteNewUser(user)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
